/*CSS Document*/
body{
	margin:0px;
	background:#d77aaf;
}
.main_outer_div_class{
	width:700px;
	margin:auto;
	height:100%;
	position:relative;
}
.div_1_inside_class{
	float:left;
	width:700px;
	background:url('../images/logo1.png') no-repeat center center;
	height:400px;
	position:absolute;
	top:100px;
}

a:visited{
	text-decoration:none;
	color:black;
}
a:active{
	text-decoration:none;
	color:black;
}
a:link{
	text-decoration:none;
	color:black;
}
.image_div_class{
	float:left;
	width:700px;
	text-align:Center;
	padding-top:100px;
}
.menu_div_class{
	float:left;
	width:700px;
	text-align:Center;
	padding-top:150px;
}
.about_menu{
	display:inline-block;
	width:100px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	padding:5px;
	cursor:pointer;
}
.about_menu:hover{
	text-decoration:underline;
}
.home_menu{
	display:inline-block;
	width:100px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	padding:5px;
	cursor:pointer;
}
.home_menu:hover
{
	text-decoration:underline;
}

ul
{
	padding:0px;
}
.footer_div_class{
	width:100%;
	height:35px;
	color:#d679ae;
	font-family:arial;
	font-size:13px;
	background:#7b4664;
	position:fixed;
	bottom:0px;
	left:0px;
}
.footer_inside_div_class{
	width:700px;
	margin:auto;
}
.footer_menu_class{
	float:left;
	width:500px;
}
.footer_menu_class a:link{
	color:#d679ae;
}
.footer_menu_class a:visited{
	color:#d679ae;
}.footer_menu_class a:active{
	color:#d679ae;
}
.footer_social_icons_class{
	float:left;
	width:200px;
}
.social_icon_class{
	float:left;
	padding:5px;
	cursor:pointer;
}
.header_div_class{
	float:left;
	width:700px;
	text-align:center;
	margin-top:20px;
}
.menu_sub_options_class{
	float:left;
	width:100%;
	color:#d679ae;
	background:#7b4664;
	height:35px;
	margin-top:20px;
}
.sub_options_inside_div_class{
	font-family:Arial;
	font-size:13px;
	float:left;
	width:250px;
	height:35px;
	line-height:35px;
	text-align:Center;
	cursor:pointer;
}
.sub_options_inside_div_class:hover{
	background:#ab698f;
}
.about_txt_main_class{
	background:url('../images/logo1.png') no-repeat center center;
	width:470px;
	height:400px;
	font-family:Arial;
	font-size:13px;
	color:black;
	float:left;
	margin-top:20px;
}
.n_a_txt{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	float:left;
	width:230px;
	text-align:center;
	height:30px;
	line-height:30px;
	margin-top:20px;
}
.n_a_li{
	font-weight:normal;
	list-style-type:square;
	font-size:12px;
	font-family:arial;
	margin-bottom:10px;
}
.social_right{
	float:right;
}
.sub_menu_active{
	background:#ab698f;
	color:#7b4664;
}
.about_maypret_txt_div_class{
	float:left;
	display:none;
}
.loading_button_div_class{
	float:left;
	width:500px;
	text-align:center;
	padding-top:100px;
	display:none;
}

































